/* shared font family from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@300;400;500;600;700;800;900;1000&family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.btn-primary {
  width: 174px;
  height: 42px;
  display: flex;
  white-space: nowrap;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
}
.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
.choose-destination .destination-text p,.choose-us .choose-us-text-container p, .discounts .discount-text-container p {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: 0 auto 48px auto;
  }
  .choose-us .card-container .card-1 p,
.choose-us .card-container .card-2 p,
.choose-us .card-3 p , .discounts .discount-card-1 p, .perfect-place .perfect-place-text-container p, .newsletter .data-collection p{
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* header styles */

header nav {
  margin: 50px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav-title .fa-solid {
  color: #ff5400;
  font-size: 2rem;
}
.nav-title h1 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.nav-title h1 span {
  color: #ff5400;
}
nav .nav-links ul {
  display: flex;
  gap: 44px;
}
nav .nav-links li {
  list-style-type: none;
}
nav .nav-links li a {
  text-decoration: none;
}
nav .nav-links li {
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
nav .mobile-menu {
  position: absolute;
  display: none;
}

/* Explore section styles */

.explore {
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 135px;
  width: 80%;
  height: 400px;
  border-radius: 16px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1050px 0px 23px -9px rgba(0, 0, 0, 0.4);
}
.explore h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.explore p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 676px;
  margin-bottom: 48px;
}
.explore .destination-container {
  display: flex;
  gap: 20px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.explore .destination-container input {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  width: 164px;
  height: 42px;
  border-radius: 8px;
  background: #fff;
  padding-left: 16px;
  border: none;
}
.explore .destination-container .arrow-1 {
  position: absolute;
  left: 610px;
  top: 430px;
  color: #131318b2;
}
.explore .destination-container .arrow-2 {
  position: absolute;
  left: 810px;
  top: 430px;
  color: #131318b2;
}
.explore .destination-container .btn-primary .search {
  position: absolute;
  top: 427px;
  left: 885px;
}

/* popular tours section styles here */

.popular-tours {
  margin: 100px 115px 100px 135px;
  display: flex;
  gap: 53px;
}
.popular-tours .popular-text-container h1 {
  color: #131318;
  text-align: left;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.popular-tours .popular-text-container p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.popular-tours .popular-text-container ul {
  padding-left: 20px;
}
.popular-tours .popular-text-container li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.popular-tours img {
  object-fit: cover;
  border-radius: 16px;
}

/* choose destination section styles */

.choose-destination {
  margin: 0 115px 0 135px;
  position: relative;
}
.choose-destination .destination-text h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.choose-destination .destination-image-container .row-1,
.choose-destination .destination-image-container .row-2,
.choose-destination .destination-image-container .row-3 {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.choose-destination .destination-image-container .row-1 img {
  width: 48.97%;
}
.choose-destination .destination-image-container .row-2 .img-3 {
  width: 31.96%;
}
.choose-destination .destination-image-container .row-2 .img-4 {
  width: 40.51%;
}
.choose-destination .destination-image-container .row-2 .img-5 {
  width: 23.1%;
}
.choose-destination .destination-image-container .row-3 .img-6 {
  width: 40.43%;
}
.choose-destination .destination-image-container .row-3 .img-7 {
  width: 57.52%;
}
.choose-destination .maldives {
  position: absolute;
  top: 290px;
  left: 200px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
.choose-destination .indonesia {
  position: absolute;
  top: 290px;
  left: 700px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
.choose-destination .srilanka {
  position: absolute;
  top: 565px;
  left: 105px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
.choose-destination .north-america {
  position: absolute;
  top: 565px;
  left: 450px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
.choose-destination .kashmir {
  position: absolute;
  top: 565px;
  left: 840px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
.choose-destination .bangladesh {
  position: absolute;
  top: 850px;
  left: 120px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
.choose-destination .bandarban {
  position: absolute;
  top: 840px;
  left: 660px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}

/* choose us section styles */

.choose-us {
  margin: 100px 115px 100px 135px;
}
.choose-us .choose-us-text-container h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.choose-us .card-container {
  display: flex;
  gap: 24px;
}
.choose-us .card-container .card-1,
.choose-us .card-container .card-2,
.choose-us .card-3 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  /* background: rgba(251, 181, 99, 0.05); */
  width: 48.97%;
  padding: 32px;
}
.choose-us .card-container .card-1 {
  background: rgba(251, 181, 99, 0.05);
}
.choose-us .card-container .card-2 {
  background: rgba(41, 206, 246, 0.05);
}
.choose-us .card-3 {
  background: rgba(233, 68, 68, 0.05);
}
.choose-us .card-container .fa-hotel,
.choose-us .card-container .fa-handshake-angle,
.choose-us .card-3 .fa-user-tag {
  font-size: 3rem;
  color: green;
  margin-bottom: 32px;
}
.choose-us .card-container .card-1 h3,
.choose-us .card-container .card-2 h3,
.choose-us .card-3 h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.choose-us .card-3 {
  margin: 24px auto 20px auto;
}

/* discounts section styles here */

.discounts {
  margin: 0 115px 110px 135px;
}
.discounts .discount-text-container h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
  margin-top: -20px;
}
.discounts .flex-container {
  display: flex;
  position: relative;
  margin-bottom: 24px;
}
.discounts .flex-container img {
  width: 100%;
  height: 500px;
}
.discounts .discount-card-1 {
  padding: 50px;
  position: absolute;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 370px;
  height: 300px;
  left: 40%;
  top: 10%;
}
.discounts .discount-card-1 .location {
  display: flex;
  gap: 24px;
  margin-bottom: 26px;
}
.discounts .discount-card-1 .location .left,
.discounts .discount-card-1 .location .middle,
.discounts .discount-card-1 .location .right {
  display: flex;
  gap: 8px;
  /* background-color: red; */
}
.discounts .discount-card-1 .location .left .fa-clock,
.discounts .discount-card-1 .location .middle .fa-people-group,
.discounts .discount-card-1 .location .right .fa-location-dot {
  color: #ff5400;
  margin-top: 5px;
}
.discounts .discount-card-1 h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.discounts .discount-card-1 h3 {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 24px;
  margin-top: 16px;
}
.discounts .flex-container .second-card {
  left: 100px;
}
.discounts .packages {
  margin: 24px auto 100px auto;
}

/* perfect place styles here */

.perfect-place {
  margin: 0 115px 100px 135px;
  display: flex;
  gap: 28px;
}
.perfect-place .perfect-place-text-container {
  width: 45.47%;
}
.perfect-place .perfect-place-text-container h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}
.perfect-place .perfect-place-text-container ul {
  padding-left: 20px;
  margin-top: 24px;
}
.perfect-place .perfect-place-text-container ul li {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}
.perfect-place iframe {
  height: 480px;
  border-radius: 20px;
}

/* newsletter styles here */

.newsletter {
  margin: 0 115px 100px 135px;
  display: flex;
  gap: 24px;
}
.newsletter .data-collection {
  width: 40.51%;
  padding: 40px;
  margin-left: 0;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter .data-collection h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.newsletter .data-collection hr{
    width: 393px;
    background: rgba(19, 19, 24, 0.10);
    margin: 48px auto 24px auto;
}
.newsletter .data-collection input {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  margin-bottom: 16px;
  padding-left: 20px;
  font-weight: 400px;
}
.newsletter .data-collection .last-btn {
  width: 412px;
  height: 52px;
}
.newsletter .img {
  width: 57.44%;
}
.newsletter .img img {
  max-width: 100%;
  height: 100%;
  object-fit: covers;
}

/* rotate container style here */

.rotate-container {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 815px;
  top: 6100px;
}
.rotate-container h3 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.rotate-container h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
/* gallery section styles here */

.gallery {
  margin: 0 115px 100px 135px;
  position: relative;
}
.gallery h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  border: 3px solid tomato;
  width: fit-content;
  margin: 0 auto 24px auto;
  padding: 0 10px;
  border-radius: 20%;
  background-color: aquamarine;
}
.gallery .gallery-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.gallery .gallery-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.gallery h4 {
  position: absolute;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2.5px);
}
.gallery .family {
  top: 250px;
  left: 200px;
}
.gallery .solo {
  top: 250px;
  left: 710px;
}
.gallery .friends {
  top: 570px;
  left: 120px;
}
.gallery .students {
  top: 600px;
  left: 650px;
}
.gallery .honeymoon {
  top: 970px;
  left: 120px;
}
.gallery .temple {
  top: 970px;
  left: 650px;
}
.gallery .our-btn {
  display: flex;
  justify-content: center;
  margin: 50px auto -50px auto;
}

/* footer styles here */

footer {
  width: 100%;
  height: 500px;
  background: rgba(19, 19, 24, 0.05);
}
footer .footer-title {
  font-size: 32px;
  margin: 110px auto 15px auto;
  padding-top: 110px;
}
footer .footer-description {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
footer .social {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 50px;
}
footer .social .fa-brands {
  padding: 5px;
  border-radius: 40%;
  background-color: #a2a2a5;
  color: #010209;
}
footer hr {
  margin: 0 210px;
}
footer .copyright {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* media query styles */

/* for mobile devices */
@media screen and (max-width: 600px) {
    
  header nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
  }
  .nav-title h1 {
    font-size: 21.543px;
  }
  nav .nav-links ul {
    /* position: absolute; */
    display: none;
  }
  nav .mobile-menu {
    position: relative;
    display: inline;
  }

  .explore {
    margin: 0 20px 24px 20px;
    width: calc(100% - 40px);
    height: 483px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1050px 0px 23px -9px rgba(0, 0, 0, 0.4);
  }
  .explore h1 {
    font-size: 22px;
    margin-bottom: 8px;
    margin-top: 32px;
  }
  .explore p {
    font-size: 14px;
    line-height: 21px;
    width: 350px;
    margin-bottom: 32px;
  }
  .explore .destination-container {
    flex-direction: column;
    gap: 16px;
  }
  .explore .destination-container .arrow-1 {
    position: absolute;
    left: 355px;
    top: 355px;
    font-size: 1.3rem;
  }
  .explore .destination-container .arrow-2 {
    position: absolute;
    left: 355px;
    top: 415px;
    font-size: 1.3rem;
  }
  .explore .destination-container .btn-primary .search {
    top: 475px;
    left: 245px;
    background-color: red;
  }
  .popular-tours {
    margin: 0 15px;
    flex-direction: column;
    gap: 24px;
  }
  .popular-tours .popular-text-container {
    width: 100%;
  }
  .popular-tours .popular-text-container h1 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 16px;
  }
  .popular-tours .popular-text-container p,
  .popular-tours .popular-text-container li {
    font-size: 14px;
    line-height: 24px;
  }
  .popular-tours .popular-text-container li {
    margin-bottom: 12px;
  }
  .popular-tours img {
    height: 342px;
    object-fit: cover;
    margin-bottom: 24px;
  }

  .choose-destination {
    margin: 0 15px;
  }
  .choose-destination .destination-text h1 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 16px;
  }
  .choose-destination .destination-text p {
    font-size: 14px;
    line-height: 24px;
    width: 80%;
    margin: 0 auto 48px auto;
    margin-bottom: 16px;
  }

  .choose-destination .destination-image-container .row-1,
  .choose-destination .destination-image-container .row-2,
  .choose-destination .destination-image-container .row-3 {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }
  .choose-destination .destination-image-container .row-1 img,
  .choose-destination .destination-image-container .row-2 .img-3,
  .choose-destination .destination-image-container .row-2 .img-4,
  .choose-destination .destination-image-container .row-2 .img-5,
  .choose-destination .destination-image-container .row-3 .img-6,
  .choose-destination .destination-image-container .row-3 .img-7 {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
  }
  .choose-destination .maldives {
    top: 235px;
    left: 240px;
    font-size: 20px;
    font-weight: 700;
  }
  .choose-destination .indonesia {
    top: 570px;
    left: 240px;
    font-size: 20px;
    font-weight: 700;
  }
  .choose-destination .srilanka {
    top: 845px;
    left: 240px;
    font-size: 20px;
    font-weight: 800;
  }
  .choose-destination .north-america {
    top: 1195px;
    left: 240px;
    font-size: 20px;
    font-weight: 800;
  }
  .choose-destination .kashmir {
    top: 1495px;
    left: 240px;
    font-size: 20px;
    font-weight: 800;
  }
  .choose-destination .bangladesh {
    top: 1830px;
    left: 210px;
    font-size: 20px;
    font-weight: 800;
  }
  .choose-destination .bandarban {
    top: 2150px;
    left: 210px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 24px;
  }

  .choose-us {
    margin: 0 15px;
  }
  .choose-us .choose-us-text-container h1 {
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 45px;
  }
  .choose-us .choose-us-text-container p {
    font-size: 14px;
    line-height: 24px;
    width: 80%;
    margin: 0 auto 16px auto;
  }
  .choose-us .card-container {
    flex-direction: column;
    gap: 16px;
  }
  .choose-us .card-container .card-1,
  .choose-us .card-container .card-2,
  .choose-us .card-3 {
    width: 88%;
    padding: 32px;
  }
  .choose-us .card-3 {
    margin-top: 16px;
  }
  .choose-us .card-container .fa-hotel,
  .choose-us .card-container .fa-handshake-angle,
  .choose-us .card-3 .fa-user-tag {
    font-size: 2.9rem;
    margin-bottom: 16px;
  }
  .choose-us .card-container .card-1 h3,
  .choose-us .card-container .card-2 h3,
  .choose-us .card-3 h3 {
    font-size: 20px;
  }
  .choose-us .card-container .card-1 p,
  .choose-us .card-container .card-2 p,
  .choose-us .card-3 p {
    font-size: 14px;
    line-height: 24px;
  }

  .discounts {
    margin: 0 15px;
    margin-top: -60px;
  }
  .discounts .discount-text-container h1{
    font-size: 20px;
    margin-bottom: 16px;
  }
  .discounts .discount-text-container p {
    font-size: 14px;
    line-height: 24px;
    width: 80%;
    margin: 0 auto 16px auto;
  }
  .discounts .flex-container img {
    width: 100%;
    height: 500px;
  }
  .discounts .discount-card-1 {
    padding: 20px;
    border-radius: 16px;
    width: 300px;
    height: 300px;
    left: 20%;
    top: 80px;
  }
  .discounts .discount-card-1 .location {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    white-space: nowrap;
  }
.discounts .discount-card-1 .location .left{
    margin-bottom: -20px;
}
.discounts .discount-card-1 .location .right{
    position: absolute;
    left: 140px;
    top: 44px;
}
.discounts .discount-card-1 h1 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .discounts .discount-card-1 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .discounts .discount-card-1 h3 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .discounts .packages {
    display: none;
  }

  .perfect-place {
    margin: 16px 15px;
    flex-direction: column;
    gap: 24px;
  }
  .perfect-place .perfect-place-text-container {
    width: 100%;
  }
  .perfect-place .perfect-place-text-container h1 {
    font-size: 20px;
    line-height: 30px;
    width: 248px;
    margin-bottom: 16px;
  }
  .perfect-place .perfect-place-text-container p {
    font-size: 14px;
    line-height: 24px;
    width: 80%;
    text-align: justify;
    margin-bottom: 16px;
  }
  .perfect-place .perfect-place-text-container ul li {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
    width: 90%;
  }
  .perfect-place iframe {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 24px;
  }

  .newsletter {
    flex-direction: column;
    margin: 0 15px;
    gap: 16px;
  }
  .newsletter .data-collection {
    width: 90%;
    padding: 24px;
    border-radius: 16px;
    text-align: center;
  }
  .newsletter .data-collection h1 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .newsletter .data-collection input {
    width: 288px;
    height: 52px;
    margin: 16px 24px 0 24px;
  }.newsletter .data-collection .last-btn {
    width: 307px;
    height: 52px;
    margin-left: 98px;
    margin-top: 16px;
  }
  .newsletter .data-collection p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .newsletter .img {
    width: 100%;
  }

  .rotate-container {
    width: 215px;
    height: 80px;
    border-radius: 16px;
    left: 350px;
    top: 7635px;
  }
  .rotate-container h3 {
    font-size: 15.854px;
  }
  .rotate-container h1 {
    font-size: 21.138px;
  }

  .gallery {
    margin: 0 15px;
  }
  .gallery h1 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 24px;
  }
  .gallery .gallery-img-container {
    width: 100%;
    gap: 5px;
  }
  .gallery h4 {
    padding: 0 20px;
    font-size: 20px;
    border-radius: 16px;
  }
  .gallery .family {
    top: 160px;
    left: 75px;
    background-color: red;
  }
  .gallery .solo {
    top: 160px;
    left: 375px;
    background-color: red;
  }
  .gallery .friends {
    top: 380px;
    left: 75px;
    background-color: red;
  }
  .gallery .students {
    top: 380px;
    left: 355px;
    background-color: red;
  }
  .gallery .honeymoon {
    top: 540px;
    left: 70px;
    background-color: red;
  }
  .gallery .temple {
    top: 540px;
    left: 350px;
    background-color: red;
  }
  .gallery .our-btn {
    margin: 24px auto 24px auto;
  }

  footer {
    height: 300px;
    margin: 0;
  }
  footer .footer-title {
    font-size: 21.543px;
    margin: 34px auto 17px auto;
    padding-top: 33px;
  }
  footer .footer-description {
    font-size: 14px;
    line-height: 24px;
    width: 287px;
    margin: 0 auto;
  }
  footer .social {
    margin-top: 16px;
    margin-bottom: 24px;
  }
  footer hr {
    margin: 0 140px;
  }
  footer .copyright {
    font-size: 14px;
    margin-top: 24px;
  }
}
